h1 { color: blue }

body {
	background: lightgoldenrodyellow;
	color: darkgray;
	font-size: 14pt;
	font-family: 'Sanchez', serif;
}

h1 { font-size: 250%;
	font-weight: bold;
	color: navy;
}

h2 { font-size: 150%; font-style: italic; }
	text-decoration: underline;
}

 a { color: darkened;
 	text-decoration: none;}
 a:hover {color: red; }
 
nav Li { display: inline-block }